.container {
    display: grid;
    height: 300px;
    background-color: #ddd;
    grid-template-rows: 100px 100px ;  
    /* chia hàng */
    grid-template-columns: 100px 100px 100px;
    /* chia cột */
}
.item1 {
    background-color: green;
    grid-column: 1/3;
}
.item2 {
    background-color: red;
}
.item3 {
    background-color: blue;
    grid-row: 2/4;
}
.item4 {
    background-color: palevioletred;
    grid-column: 2/4;
}
.item5 {
    background-color: yellow;
}
.item6 {
    background-color: orange;
}

