#form-infor {
    display: flex;
    flex-direction: column;
    margin-left: 500px;
}

.text {
    display: flex;
    justify-content: space-between;
    width: 40%;
}
.text input {
    width: 80%;
    max-height: 40px;
}
.text label {
    line-height: 50px;
}
#form-infor button {
    padding: 4px;
    width: 5%;
    margin-left: 200px;
    cursor: pointer;
}